*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
    background-color: lightgray;
}
/* HEADER */
header{
   padding-left: 1%;
   background-color: white;
}
.logo{
    vertical-align:middle;   
}
h1{
    display: inline-block;  
    font-size: 40px; 
    padding: 20px 5px;
    vertical-align:middle
}
/* FINE HEADER */

/* MAIN */
.container{
    margin:0 auto;
    width: 70%;  
    margin-top: 50px;
}
/* CLASSI PULSANTI */
.button-section{
    background-color: white;
     height: 60px;
    text-align: left;
    vertical-align:middle;  
    line-height: 3.5; 
    padding-left: 60px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: 10px;
}
 button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  
 }

 #task{
    color:white;
    background-color: dodgerblue;
    border-radius:6px;
    border-color: dodgerblue; 
 }

 #section{
    color:grey;
    background-color: white;
    border-radius:6px;
   border-color: gray;
 }
 /* FINE CLASSI PULSANTI */

 .list-section{
    background-color: white;
    text-align: left;
    padding-left: 60px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-bottom: 10px;
    padding-bottom: 60px;
    padding-top: 50px;
 }

 /* INIZIO CLASSI LISTA */
h2{
    font-size: 35px;
}
.triangle{
    font-size: 20px;
}
 ul{ 
    list-style-type: none;
    
 } 
 
 li{
    font-size: 25px;
    
 }
 .check{
    display: inline-block;
    color: rgb(96, 96, 251);
    border-style: solid;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-width: 2px;
    font-size: 10px;
    vertical-align:middle;   
    font-weight: bold;
 
 }

.editorial{
    display: inline-block;
    background-color: dodgerblue;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: white;
}
