*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
    background-color: lightgray;
}
/* HEADER */
header{
   padding-left: 1%;
   background-color: white;
}
.logo{
    vertical-align:middle;   
}
h1{
    display: inline-block;  
    font-size: 40px; 
    padding: 20px 5px;
    vertical-align:middle
}
/* FINE HEADER */

/* MAIN */
/* CLASSI PULSANTI */
.button-section{
    background-color: white;
    margin:0 auto;
    margin-top: 50px;
    width: 70%;
    height: 60px;
    text-align: left;
    vertical-align:middle;  
    line-height: 3.5; 
    padding-left: 60px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    margin-bottom: 10px;
}
 button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
 }

 #task{
    color:white;
    background-color: dodgerblue;
    border-radius:6px;
    border-color: dodgerblue; 
 }

 #section{
    color:grey;
    background-color: white;
    border-radius:6px;
   border-color: gray;
 }
 /* FINE CLASSI PULSANTI */